@model IEnumerable<Model.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2 class="title text-center">Items</h2>
@foreach (var item in Model)
{
    var link = "/san-pham/" + item.groupDetailTittle + "/" + item.maSanPham;
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="@link">
                        <img src=@item.urlAnh />
                    </a>
                    <h2>@item.giaSanPham đ</h2>
                    <a href="@link"> <p>@item.tenSanPham</p> </a>
                    <a href="@link" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.TotalPage > 0)
{
    var pageDisplay = (int)ViewBag.MaxPage;
    int totalPage = (int)ViewBag.TotalPage;
    int currentPage = ((int)ViewBag.Page);

    // Create numeric links
    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

    
        var productType = ViewBag.ProductType;
        var link = "/san-pham/" + productType;
    <nav>
        <ul class="pagination">
            @if (currentPage > ViewBag.First)
                {
                <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li>
                            <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                        </li>

            }
            @for (int i = startPageIndex; i <= endPageIndex; i++)
            {
                if (currentPage == i)
                {

                    <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                }
                else
                {
                    <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                }
            }
            @if (currentPage < totalPage)
            {
                <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                        <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
            }
        </ul>
    </nav>

}
else
{
    <span>Không có bản ghi nào</span>
}

