@model List<Model.Entities.GroupPr>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section cssHeader{
    <link href="~/assets/admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/assets/admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
}

@section jsFooter{
    <script src="~/assets/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/assets/admin/js/deleteAdmin.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh sách sản phẩm
                </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã nhóm</th>
                                <th>Tên nhóm</th>
                                <th>Meta title</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.maNhom</td>
                                    <td>@item.tenNhom</td>
                                    <td>@item.meta_tittle</td>
                                    <td class="center">@Html.ActionLink("Sửa", "Detail", new { id = item.maNhom })</td>
                                    <td><a href="#" class="center btn-delete-groupPr" data-id="@item.maNhom">Xóa</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



